@{
    ViewData["Title"] = "Thông tin tài khoản";
}

<body class="page-template-default page page-id-7 logged-in wp-embed-responsive header-style-1 sticky-enabled sticky-style-1 text-ui-light minimal-reading-layout">
<div class="wrap">
    <div class="body-wrap">
            <partial name="_HeaderPartial" />
					        <div class="site-content">
        
    <div class="c-page-content style-2">
        <div class="content-area ">
            <div class="container">

                <div class="row ">

                    <div class="col-md-12 col-sm-12">

						<div  class="ad c-ads custom-code body-top-ads"><a href="https://mangabooth.com/product/wp-manga-theme-madara/"><img src="https://live.mangabooth.com/x/wp-content/uploads/2024/11/Build-The-Best-Manga-Site.jpg"/></a></div>

                        <div class="main-col-inner">

<div id="post-7" class="c-blog-post post-7 page type-page status-publish hentry">
	    <div class="entry-header">
        <div class="entry-header_wrap">
			            <div class="entry-title">
                <h1 class="item-title h2">User Settings</h1>
            </div>
			
			<div class="entry-meta">                <div class="post-on">
                    <span class="font-meta">posted on</span>
                    <div class="c-blog__date">

						<span class="posted-on"> <a href="https://live.mangabooth.com/x/user-settings/" rel="bookmark">October 8, 2024</a></span>
						<span class="post-category"><br /></span>
                    </div>
                </div>
			<div class="post-meta total-count font-meta"></div></div>        </div>
    </div>
	
	
	
    <div class="entry-content">
        <div class="entry-content_wrap">
			
<div class="row settings-page">
    <div class="col-md-3 col-sm-3">
        <div class="nav-tabs-wrap">
            <ul class="nav nav-tabs">
								
                <li class="">
                    <a href="https://live.mangabooth.com/x/user-settings/?tab=history"><i class="icon ion-md-alarm"></i>History                    </a>
                </li>
                
								
                <li class="">
                    <a href="https://live.mangabooth.com/x/user-settings/?tab=reader-settings"><i class="icon ion-md-cog"></i>Reader Settings                    </a>
                </li>
                
								
                <li class="active">
                    <a href="https://live.mangabooth.com/x/user-settings/?tab=account-settings"><i class="icon ion-md-person"></i>Account Settings                    </a>
                </li>
                
								
                <li class="">
                    <a href="https://live.mangabooth.com/x/user-settings/?tab=balance-history"><i class="icon ion-md-folder-open"></i>Balance History                    </a>
                </li>
                
								
						<li class="">
                    <a href="https://live.mangabooth.com/x/user-settings/?tab=bought"><i class="fas fa-coins"></i>My Bought Mangas                    </a>
                </li>
		            </ul>
        </div>
    </div>
    <div class="col-md-9 col-sm-9">
        <div class="tabs-content-wrap">
            <div class="tab-content">
				                    <div class="tab-pane active">
						<form method="post" id="form-account-settings" data-force-strong-password="1">

	
    <input type="hidden" value="18" name="userID">
	<input type="hidden" id="_wpnonce" name="_wpnonce" value="84ff829a52" /><input type="hidden" name="_wp_http_referer" value="/x/user-settings/?tab=account-settings" />    <div class="tab-group-item">
        <div class="tab-item">
            <div class="choose-avatar">
				<div class="loading-overlay">
					<div class="loading-icon">
						<i class="fas fa-spinner fa-spin"></i>
					</div>
				</div>
				<div class="c-user-avatar">
					<img alt='' src='https://secure.gravatar.com/avatar/f4e15f26edec400f6317e5a94e418299?s=195&#038;d=mm&#038;r=g' srcset='https://secure.gravatar.com/avatar/f4e15f26edec400f6317e5a94e418299?s=390&#038;d=mm&#038;r=g 2x' class='avatar avatar-195 photo' height='195' width='195' />				</div>
            </div>
			            <div class="form form-choose-avatar">
                <div class="select-flie">
                    <!--Update Avatar -->
                    <form action="#">
						Only for .jpg .png or .gif file                        <label class="select-avata">
							<input type="file" name="wp-manga-user-avatar">
							<span class="file-name"></span>
						</label>
							
                        <input type="submit" value="Upload" name="wp-manga-upload-avatar" id="wp-manga-upload-avatar">
                    </form>

                </div>
            </div>
			        </div>
        <div class="tab-item">

            <div class="settings-title">
                <h3>
					Change Your Display name                </h3>
            </div>
            <div class="form-group row">
                <label for="name-input" class="col-md-3">Current Display name</label>
                <div class="col-md-9">
					                        <span class="show">cuong</span>
					                </div>
            </div>
            <div class="form-group row">
                <label for="name-input" class="col-md-3">New Display name</label>
                <div class="col-md-9">
                    <input class="form-control" type="text" value="" name="user-new-name">
                </div>
            </div>
            <div class="form-group row">
                <label for="name-input-submit" class="col-md-3"></label>
                <div class="col-md-9">
                    <input class="form-control" type="submit" value="Submit" id="name-input-submit" name="account-form-submit">
                </div>
            </div>

        </div>
        <div class="tab-item">
            <div class="settings-title">
                <h3>
					Change Your email address                </h3>
            </div>
            <div class="form-group row">
                <label for="email-input" class="col-md-3">Your email</label>
                <div class="col-md-9">
					                        <span class="show"><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="422373707102252f232b2e6c212d2f">[email&#160;protected]</a></span>
					                </div>
            </div>
            <div class="form-group row">
                <label for="email-input" class="col-md-3">New email address</label>
                <div class="col-md-9">
                    <input class="form-control" type="email" value="" id="email-input" name="user-new-email">
                </div>
            </div>
            <div class="form-group row">
                <label for="email-input-submit" class="col-md-3"></label>
                <div class="col-md-9">
                    <input class="form-control" type="submit" value="Submit" id="email-input-submit" name="account-form-submit">
                </div>
            </div>
        </div>
        <div class="tab-item">
            <div class="settings-title">
                <h3>
					Change Your Password                </h3>
            </div>

            <div class="form-group row">
                <label for="currrent-password-input" class="col-md-3">Current Password</label>
                <div class="col-md-9">
                    <input class="form-control" type="password" value="" id="currrent-password-input" name="user-current-password">
                </div>
            </div>
            <div class="form-group row">
                <label for="new-password-input" class="col-md-3">New Password</label>
                <div class="col-md-9">
                    <input class="form-control" type="password" value="" id="new-password-input" name="user-new-password">
                </div>
            </div>
            <div class="form-group row">
                <label for="comfirm-password-input" class="col-md-3">Comfirm Password</label>
                <div class="col-md-9">
                    <input class="form-control" type="password" value="" id="comfirm-password-input" name="user-new-password-confirm">
                    <span id="password-strength"></span>
                </div>
            </div>
            <div class="form-group row">
                <label for="password-input-submit" class="col-md-3"></label>
                <div class="col-md-9">
                    <label id="checkbox-weak-password" style="display:none"><input type="checkbox" id="agree-weak-password" />I agree to use this weak password</label>
                    <input class="form-control" type="submit" value="Submit" id="password-input-submit" name="account-form-submit">
                </div>
            </div>
        </div>
    </div>
</form>
                    </div>
				
				            </div>
        </div>
    </div>
</div>

        </div>
    </div>

	
	
	

</div>
								
                        </div>

						<div  class="ad c-ads custom-code body-bottom-ads"><a href="https://mangabooth.com/product/wp-manga-theme-madara/"><img src="https://live.mangabooth.com/x/wp-content/uploads/2024/11/Build-The-Best-Manga-Site.jpg"/></a></div>

                    </div>

					

                </div>
            </div>
        </div>
    </div>


        </div><!-- <div class="site-content"> -->

		
			
			
       
		<div  data-scrolltop="210" data-maxtop="510"  class="ad c-ads custom-code wall-ads-control wall-ads-left"><a href="https://mangabooth.com/product/wp-manga-theme-madara/"><img src="https://live.mangabooth.com/x/wp-content/uploads/2024/11/1.jpg"/></a></div><div  data-scrolltop="210" data-maxtop="510"  class="ad c-ads custom-code wall-ads-control wall-ads-right"><a href="https://mangabooth.com/product/wp-manga-theme-madara/"><img src="https://live.mangabooth.com/x/wp-content/uploads/2024/11/2.jpg"/></a></div>
		
        </div> <!-- class="wrap" --></div> <!-- class="body-wrap" -->

	
<div class="modal fade" id="frm-wp-manga-buy-coin" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body">
				<input type="hidden" name="wp-manga-coin-nonce" value="79f567aeef"/>
				<input type="hidden" name="wp-manga-chapter" value=""/>
				<h3>
					Premium Chapter				</h3>
								<p class="message-sufficient">You are about to spend <span class="coin">-</span> coins to unlock this chapter</p>
				<p class="message-lack-of-coin hidden">You do not have enough Coins to buy this chapter</p>
							</div>
			<div class="modal-footer">
								<button class="button button-primary button-large wp-submit btn-agree">Buy it <i class="fas fa-spinner fa-spin"></i></button>
								<button class="button button-secondary button-large btn-cancel">Cancel</button>
			</div>
		</div>
	</div>
</div><input type="hidden" value="0" id="wp_manga_chapter_coin_user_balance"/>            <div class="go-to-top active">
                <i class="icon ion-md-arrow-up"></i>
            </div>
			<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script type="text/javascript" src="https://live.mangabooth.com/x/wp-content/plugins/widget-options/assets/js/widgetopts.resize.js?ver=4.0.8" id="widgetopts-resize-script-js"></script>
<script type="text/javascript" src="https://live.mangabooth.com/x/wp-content/plugins/wp-manga-chapter-thumbnail/assets/js/frontend.js?ver=6.7.2" id="wp-manga-chapter-thumbnail-frontend-js"></script>
<script type="text/javascript" src="https://live.mangabooth.com/x/wp-content/themes/madara/js/lightbox.min.js?ver=2.11.2" id="lightbox-js"></script>
<script type="text/javascript" src="https://live.mangabooth.com/x/wp-content/themes/madara/js/core.js?ver=6.7.2" id="madara-core-js"></script>
<script type="text/javascript" src="https://live.mangabooth.com/x/wp-content/themes/madara/js/smoothscroll.js?ver=1.4.10" id="smoothscroll-js"></script>
<script type="text/javascript" src="https://live.mangabooth.com/x/wp-content/themes/madara/js/lazysizes/lazysizes.min.js?ver=5.3.2" id="lazysizes-js"></script>
<script type="text/javascript" src="https://live.mangabooth.com/x/wp-includes/js/imagesloaded.min.js?ver=5.0.0" id="imagesloaded-js"></script>
<script type="text/javascript" src="https://live.mangabooth.com/x/wp-content/themes/madara/js/aos.js?ver=6.7.2" id="aos-js"></script>
<script type="text/javascript" id="password-strength-meter-js-extra">
<script type="text/javascript" src="https://live.mangabooth.com/x/wp-admin/js/password-strength-meter.min.js?ver=6.7.2" id="password-strength-meter-js"></script>
<script type="text/javascript" src="https://live.mangabooth.com/x/wp-content/themes/madara/js/template-user-settings.js?ver=1.7.1.1" id="madara-js-user-settings-js"></script>
<script type="text/javascript" src="https://live.mangabooth.com/x/wp-content/themes/madara/js/ajax.js?ver=6.7.2" id="madara-ajax-js"></script>
<script type="text/javascript" id="mycred-video-points-js-extra">
</script>
<script type="text/javascript" src="https://live.mangabooth.com/x/wp-content/plugins/mycred/assets/js/video.js?ver=2.7.4.1" id="mycred-video-points-js"></script>
<script type="text/javascript" id="mycred-notifications-js-extra">
</script>
<script type="text/javascript" src="https://live.mangabooth.com/x/wp-content/plugins/mycred/addons/notifications/assets/js/notify.js?ver=1.1.2.2" id="mycred-notifications-js"></script>
<script type="text/javascript" src="https://live.mangabooth.com/x/wp-content/plugins/madara-core/assets/slick/slick.min.js?ver=6.7.2" id="wp-manga-slick-js-js"></script>
<script type="text/javascript" src="https://live.mangabooth.com/x/wp-content/themes/madara/js/slick/slick.min.js?ver=1.9.0" id="slick-js"></script>
<script type="text/javascript" src="https://live.mangabooth.com/x/wp-content/plugins/madara-shortcodes/shortcodes/js/ct-shortcodes.js?ver=1.5.2.1" id="ct-shortcode-js-js"></script>

</body>