@using DotNetTruyen.ViewModels
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@model LoginViewModel
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] DotNetTruyen </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!--<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
    -->
</head>
<body>
       <partial name="_HeaderPartial" />
            @RenderBody()
        <footer class="site-footer">

			<div class="ad c-ads custom-code footer-ads col-md-12"><a href="https://mangabooth.com/product/wp-manga-theme-madara/"><img src="images/Build-The-Best-Manga-Site.jpg"></a></div>
						
						<div class="c-footer-sidebar">
				<div class="container">
					<div class="row c-row">
						<div id="manga-genres-id-3" class="widget col-12 col-md-12   default no-icon  manga-genres-class-name"><div class="widget__inner manga-genres-class-name__inner c-widget-wrap">        <div class="genres_wrap">
            <div class="row">
                <div class="col-md-12">
                    <div class="widget-heading font-nav"><h5 class="heading">All Genres</h5></div><div class="widget-content">                        <div class="genres__collapse" style="display:block;">
                            <div class="row genres">
                                <ul class="list-unstyled">
                                                                            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-6">
                                            <a href="https://live.mangabooth.com/x/manga-genre/action/">
                                                action                                                                                                    <span class="count">
                                                        (37)
                                                    </span>
                                                                                                </a>
                                        </li>
                                                                                <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-6">
                                            <a href="https://live.mangabooth.com/x/manga-genre/adventure/">
                                                adventure                                                                                                    <span class="count">
                                                        (37)
                                                    </span>
                                                                                                </a>
                                        </li>
                                                                                <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-6">
                                            <a href="https://live.mangabooth.com/x/manga-genre/boys/">
                                                boys                                                                                                    <span class="count">
                                                        (37)
                                                    </span>
                                                                                                </a>
                                        </li>
                                                                                <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-6">
                                            <a href="https://live.mangabooth.com/x/manga-genre/chinese/">
                                                chinese                                                                                                    <span class="count">
                                                        (37)
                                                    </span>
                                                                                                </a>
                                        </li>
                                                                                <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-6">
                                            <a href="https://live.mangabooth.com/x/manga-genre/drama/">
                                                drama                                                                                                    <span class="count">
                                                        (37)
                                                    </span>
                                                                                                </a>
                                        </li>
                                                                                <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-6">
                                            <a href="https://live.mangabooth.com/x/manga-genre/ecchi/">
                                                ecchi                                                                                                    <span class="count">
                                                        (38)
                                                    </span>
                                                                                                </a>
                                        </li>
                                                                                <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-6">
                                            <a href="https://live.mangabooth.com/x/manga-genre/fighting/">
                                                fighting                                                                                                    <span class="count">
                                                        (38)
                                                    </span>
                                                                                                </a>
                                        </li>
                                                                                <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-6">
                                            <a href="https://live.mangabooth.com/x/manga-genre/fun/">
                                                fun                                                                                                    <span class="count">
                                                        (37)
                                                    </span>
                                                                                                </a>
                                        </li>
                                                                                <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-6">
                                            <a href="https://live.mangabooth.com/x/manga-genre/girl/">
                                                girl                                                                                                    <span class="count">
                                                        (37)
                                                    </span>
                                                                                                </a>
                                        </li>
                                                                                <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-6">
                                            <a href="https://live.mangabooth.com/x/manga-genre/horrow/">
                                                horrow                                                                                                    <span class="count">
                                                        (37)
                                                    </span>
                                                                                                </a>
                                        </li>
                                                                                <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-6">
                                            <a href="https://live.mangabooth.com/x/manga-genre/manhwa/">
                                                manhwa                                                                                                    <span class="count">
                                                        (37)
                                                    </span>
                                                                                                </a>
                                        </li>
                                                                        </ul>
                            </div>
                        </div>
                        
                </div>
            </div>
        </div>

        </div></div></div>					</div>
				</div>
			</div>
			
            <div class="bottom-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="copyright">
								<h3>Manta</h3>
								<p>Madara WordPress Theme by Mangabooth.com</p>                            </div>
                            
                                                    </div>
                    </div>
                </div>
            </div>

        </footer>
    <div class="wp-manga-section">
        <input type="hidden" name="bookmarking" value="0">
        

        <script type="text/javascript">
            var gRecaptchas = document.getElementsByClassName('g-recaptcha');
            for (let i = 0; i < gRecaptchas.length; i++) {
                gRecaptchas[i].setAttribute('data-callback', 'wpMangaSubmitSwitch');
                gRecaptchas[i].setAttribute('data-expired-callback', 'wpMangaSubmitSwitch');
                gRecaptchas[i].setAttribute('data-error', 'wpMangaSubmitSwitch');
            }
        </script>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!--<script src="~/js/site.js" asp-append-version="true"></script>-->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
